@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500");

@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("/static/fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf");
  src: url("/static/fonts/alte_haas_grotesk/AlteHaasGroteskBold.ttf");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Alte Haas Grotesk", sans-serif;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  color: $color-black;
}
